$base-font-size: 16px !default

// color theme

$color-primary: #E74C3C !default
$color-secondary: #FFF !default

$color-info: #039BE5 !default
$color-danger: #e53935 !default

$color-gray-100: #F4F4F4 !default
$color-gray-90: #EDEDED !default
$color-gray-80: #dddddd !default
$color-gray-50: #ADADAD !default
$color-gray-30: #626262 !default

$color-dark: #212121 !default

$button-text-primary: white
$button-color-primary: $color-primary

$m-1: .25rem
$m-2: .5rem
$m-25: .75rem
$m-3: 1rem
$m-35: 1.25rem
$m-4: 1.5rem
$m-45: 2rem
$m-5: 3rem
$m-55: 3.5rem

$text-size-tiny: .25rem
$text-size-small: .5rem
$text-size-smaller: .75rem
$text-size-normal: 1rem
$text-size-bigger: 1.25rem
$text-size-big: 1.5rem
$text-size-huge: 2rem

$font-thin: 300
$font-regular: 500
$font-bold: 700

$navbar-height: 76px

$navbar-zindex: 1050
$sidebar-zindex: 1040
$page-content-zindex: 1030
$max-form-width: 800px
$sidebar-width: 27rem
