.sidebar
  position: relative
  width: 22rem
  height: calc(100vh - #{$navbar-height})
  height: calc(var(--vh, 1vh) * 100 - #{$navbar-height})
  box-shadow: 0 3px $m-3 rgba(0,0,0,0.1)
  z-index: $sidebar-zindex
  float: left
  @include themify
    background-color: themed('navbarBg')
    color: themed('sidebarTextColor')

  &__heading
    margin: 0
    font-size: $text-size-normal
    font-weight: $font-thin
    text-align: center
    padding: 1rem
    @include themify
      border-bottom: 1px solid themed('borderSubtleColor')

  &__footer
    position: absolute
    left: 0
    right: 0
    bottom: 0

  &__summary
    display: flex
    justify-content: space-between
    padding: $m-3 $m-2
    @include themify
      border-top: 1px solid themed('borderSubtleColor')

  &__submit
    padding: $m-3 $m-4
    border-top: 1px solid $color-gray-90

    > button
      padding: $m-25 0
      width: 100%
      color: $button-text-primary
      background-color: $button-color-primary
      transition: background .2s ease
      border-radius: 2rem
      font-size: $text-size-normal
      border: none

      &:hover
        background-color: darken($color-primary, 10%)
        cursor: pointer
