.sidebar
  position: relative
  width: $sidebar-width
  padding: 0 $m-3
  height: calc(100vh - #{$navbar-height})
  height: calc(var(--vh, 1vh) * 100 - #{$navbar-height})
  box-shadow: 0 3px $m-3 rgba(0,0,0,0.1)
  z-index: $sidebar-zindex
  float: left
  @include themify
    background-color: themed('bgColorStrongest')
    color: themed('textColorStronger')

  &__heading
    margin: 0
    font-size: $text-size-normal
    font-weight: $font-thin
    text-align: center
    padding: 1rem
    @include themify
      border-bottom: 1px solid themed('borderColorStrong')

  &__footer
    position: absolute
    left: 0
    right: 0
    bottom: 0

  &__basket
    & > .p-listing
      margin-top: $m-3

  &__summary
    display: flex
    justify-content: space-between
    padding: $m-3 $m-4
    @include themify
      border-top: 1px solid themed('borderColorStrong')

  &__submit
    padding: $m-3 $m-4
    @include themify
      border-top: 1px solid themed('borderColorStrong')

.sidebar-management
  padding: 0
  & > a
    display: flex
    padding: 1rem 1rem 1rem 2rem
    text-decoration: none
    color: #ADADAD
    border-bottom: 1px solid #DBDBDB
    & > .svg
      margin-right: 12px
      fill: #ADADAD;
    &.--active
      color: #626262
      background: #F4F4F4 0% 0% no-repeat padding-box
      & > .svg
        fill: #626262